<ion-label class="ion-margin">Round Number: {{ roundNumber }}</ion-label>
<!-- Waiting -->
<ion-content *ngIf="!isStarted"> Waiting... </ion-content>
<!-- My game -->
<ion-content *ngIf="isStarted && myTurn">
  <ion-chip class="ion-margin" *ngFor="let score of scores" color="primary">
    <ion-label>Team{{ score?.team }}: {{ score?.value }}</ion-label>
  </ion-chip>
  <ion-card>
    <ion-card-header>
      <ion-card-title>My Turn</ion-card-title>
      <ion-card-subtitle
        >Time Remaining => {{ secondsRemaining }}</ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-content>
      <strong class="capitalize">{{ currentWord?.value }}</strong>
      <ng-container
        *ngIf="!(currentWord && currentDeadline); then block; else elseBlock"
      ></ng-container>
      <ng-template #block>
        <ion-button (click)="showWord()" expand="block" shape="round">
          Show Word
        </ion-button>
      </ng-template>
      <ng-template #elseBlock>
        <ion-button
          color="success"
          (click)="correct()"
          expand="block"
          shape="round"
        >
          Correct !!
        </ion-button>
        <ion-button
          color="warning"
          *ngIf="endOfTurn"
          (click)="wrong()"
          expand="block"
          shape="round"
        >
          Wrong
        </ion-button>
      </ng-template>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-content *ngIf="isStarted && !myTurn">
  <ion-chip *ngFor="let score of scores" color="primary">
    <ion-label>Team{{ score.team }}: {{ score.value }}</ion-label>
  </ion-chip>
  <br />
  Current Player is {{ currentPlayerName }}
</ion-content>
<!-- Other's game -->
